#preview{
	background-color:Azure;
	width:800px;
	min-height: 25px;
	border:dashed 1px Blue;
	font-size: large;
	color: blue;

}

#mathcode{
	width:800px;
	height:40px;
}

#inputmathcode{
	 padding:10px;
}

#hv_table{
	border-collapse: collapse;
}

#hv_table td, th{
	border: solid 1px;
	text-align: center;
}

td#koumoku{
	text-align: left;
}
