#inputdata p{
	background-color:azure;
	width:600px;
	border:solid 2px dimgray;

}

#preview{
	background-color:Azure;
	width:800px;
	min-height: 25px;
	border:dashed 1px Blue;
	font-size: large;
	color: blue;

}

#mathcode{
	width:800px;
	height:40px;
}

#inputmathcode{
	 padding:10px;
}


#daimon_table td, th{
	border: solid 1px;
	text-align: center;
}

#daimon_table{
	border-collapse: collapse;
}

#hukushu_table{
	border-collapse: collapse;
}

#hukushu_table td, th{
	border: solid 1px;
	text-align: center;
}

td#koumoku{
	text-align: left;
}
